@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

.effects {
  width: 100%;
  overflow: hidden;
}

.effect:hover {
  transform: scale(1.3);
  z-index: 2;
  transition: 0.5s;
}

.animation {
  animation: animates 0.5s ease-in-out;
}

@keyframes animates {
  from {
    opacity: 0;
    transform: translateX(3rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
